<div style="border-width:5px;border-color:green; border-style:solid;" >

  character-name works!

<form [formGroup]="characterNameFormGroup" (ngSubmit)="onLogin()">
<div>
  <input placeholder="Character Name" formControlName="characterName">
<pre>
{{ characterNameFormGroup.controls.characterName?.errors | json  }}


 </pre>

<!-- touched -->
    <span *ngIf="characterNameFormGroup.controls.characterName.touched">

      <!-- required -->
      <span *ngIf="characterNameFormGroup.controls.characterName.errors?.required">
        A character name is required
      </span><!-- end required -->

      <!-- minlength -->
      <span *ngIf="characterNameFormGroup.controls.characterName.errors?.minlength">
        Character name must be at least
        {{ characterNameFormGroup.controls.characterName.errors.minlength.requiredLength }}
        characters long
      </span><!-- end minlength -->

    </span><!-- end touched -->

</div>
  </form>

</div>
